.App {
  text-align: center;
}

*{
  font-family: "Inter", sans-serif;
}

.inter-project {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
